<!DOCTYPE html>
<html>
<head>
	<% include includes/metaMain %>
</head>
<body>





<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->

            <!-- cards view for dashboard to explain main info  -->
            <div align="center"><h2>Welcome Admin</h2></div>
        <div class="row nav-cards" align="center" style="width: 90%; margin:auto;">
            <!-- <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div> -->





            <a href="<%= site.adminURL%>/orders">
                <div class="col-xs-6 col-sm-4 hvr-bob navCardWrapper">
                    <div class="card card-body">
                          <div align="center" style="margin:auto;">
                              <h1><i class="material-icons icon">event_note</i></h1>
                          </div>
                          <!-- <p class="card-text"> </p> -->
                          <div class="flex-row">
                            <a class="card-link">Orders</a>
                          </div>
                    </div>
                </div>                
            </a>



            <a href="<%= site.adminURL%>/products">
                <div class="col-xs-6 col-sm-4 hvr-bob navCardWrapper">
                    <div class="card card-body">
                          <div align="center" style="margin:auto;">
                              <h1><i class="material-icons icon">store</i></h1>
                          </div>
                          <!-- <p class="card-text"> </p> -->
                          <div class="flex-row">
                            <a class="card-link">Products</a>
                          </div>
                    </div>
                </div>
            </a>


            <a href="<%= site.adminURL%>/categories">
                <div class="col-xs-6 col-sm-4 hvr-bob navCardWrapper">
                    <div class="card card-body">
                          <div align="center" style="margin:auto;">
                              <h1><i class="material-icons icon">dns</i></h1>
                          </div>
                          <!-- <p class="card-text"> </p> -->
                          <div class="flex-row">
                            <a class="card-link">Categories</a>
                          </div>
                    </div>
                </div>                
            </a>            
        </div>



        <div></div>



        <div align="center" style="margin-top: 5vh"><h2>New orders</h2></div>
        <div class="" style="padding: 15px; width: 90%; margin: auto;">
            <div class="card display">
                <div class="card-body" style="overflow: auto;">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">NO</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Code</th>
                            <th scope="col">Total Fees</th>
                            <th scope="col">Date Ship</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Ahmed Kamal Madani</td>
                                <td>SG93166MF</td>
                                <td>28 Jan 19</td>
                                <td>28 Jan 19</td>
                                <td>28 Jan 19</td>
                                <td>WAITING</td>
                               <td>
                                <div class="dropdown">


                                   <button class="no-border" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons down">more_vert</i></button>


                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#">View order</a>
                                  </div>
                                </div>
                               </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ibrahim Khalil Abdulmalik</td>
                                <td>SG45746ME</td>
                                <td>28 Jan 19</td>
                                <td>28 Jan 19</td>
                                <td>28 Jan 19</td>
                                <td>WAITING</td>
                                <td>

                                <div class="dropdown">

                                   <button class="no-border" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons down">more_vert</i></button>


                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#">View order</a>
                                  </div>
                                </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div align="center"> <button class="bttn-bordered bttn-sm bttn-warning">View more</button></div>
                </div>
            </div>
        </div>



<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->

</body>
</html>