

<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<div class="bar">
					<a class="navbar-brand logo" href="/">
						<img src="/images/logo.png" alt="VitaFruity">
						<span class="hideonmobile">Vita Fruity</span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/online-store">Menu</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Meal & Detox Plans</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
  							
								<a class="nav-link " href="#" id="dropdown-meal-plan" data-toggle="dropdown"><b>Meal Plan</b></a>
								<div class="dropdown-menu----" aria-labelledby="dropdown-meal-plan">
									<a class="dropdown-item" href="/meal-plan/vita-relish">Vita Relish</a>
									<a class="dropdown-item" href="/meal-plan/vita-banquet">Vita Banquet</a>
									<a class="dropdown-item" href="/meal-plan/vita-glam">Vita Glam</a>	
								</div>
							


								<a class="nav-link" href="#" id="dropdown-detox-plan" data-toggle="dropdown"><b>Detox Plan</b></a>
								<div class="dropdown-menu----" aria-labelledby="dropdown-detox-plan">
									<a class="dropdown-item" href="/meal-plan/detox/3-days-detox-plan">3 days detox</a>
									<a class="dropdown-item" href="/meal-plan/detox/5-days-detox-plan">5 days detox</a>	
									<a class="dropdown-item" href="/meal-plan/detox/7-days-detox-plan">7 days detox</a>
								</div>

				


							</div>
							
						</li>
						<li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
					</ul>
				</div>
				<div class="cart">
					<a class="fa fa-shopping-basket" id="cartBasket" href="/cart"><span class="amount_cart" id="cartQty"></span></a>
				</div>
			</div>
		</nav>
	</header>