<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

	<style type="text/css">
		.page-breadcrumb {
			/*Change crumb background picture here*/
			    background: url(../images/about-bck.jpg) no-repeat;
				background-position: center right;
			    background-size: 100%;
		}
		.mapWrapper {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	</style>	

	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>About us</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">Home</a>
						<span>About</span>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="container about">
			<div>
				<h1 class="title">Our Story</h1>
				<p>Vita Fruity is positioned to serve freshly made healthy products such as Juices, Smoothies, Parfaits, Salads, Sandwiches, Wraps and other Veggies, with a sense of customer’s satisfaction blended with excellence as our focus.</p>
				<p>At VitaFruity, we believe food should be fresh and close to nature as possible, because the choices we make about what we eat, where it comes from and how it’s prepared have a direct and powerful impact on the health and wellbeing of individuals, communities and the environment.</p>
				<p>We deliver to locations around our outlet, within Warri and her environs.</p>
			</div>

			<div class="fact">
				<p>Vita Fruity is a healthy fruit brand with registration number RC2538874. We started working skeletally from home in 2018. We officially launched our outlet on July 28th 2019 in Delta Mall, Effurun. Delta State, Nigeria. We are the first fruit Truck in Delta State and it was born out of passion to encourage everyone to REFRESH THEIR LIFESTYLE through healthy eating.</p>
			</div>

			<div class="quality">
				<p>We serve freshly made products, 100% natural with no preservatives added, delicious, nutritious and a quality that refreshes your body. Quality for us is the totality of features and characteristics of a product or service that bear on its ability to satisfy given needs.</p>
			</div>
			<div class="mission">
				<h2>Our Mission</h2>
				<p>Inspiring everyone to continuously refresh their lifestyle through healthy eating.</p>
			</div>

			<div class="vision">
				<h2>The Vision</h2>
				<p>Our core value is summed up in the word “VITALITY”</p>
				<ul class="values">
					<li>V-Value</li>
					<li>I-Integrity</li>
					<li>T-Transparency</li>
					<li>A-Accountability</li>
					<li>L-Love</li>
					<li>I-Innovation</li>
					<li>T-Teamwork</li>
					<li>Y-Yes</li>
				</ul>
			</div>

		</div>




 <% include includes/footer %>
</body>
</html>