<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
   <link rel="stylesheet" type="text/css" href="css/toggle-switch.css">
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

<style type="text/css">


	.checkoutContentWrapper {
		margin: auto;
		margin-top: 7vh;
		margin-bottom: 20vh;
	}

.toggleSwitch input:checked ~ span:before {
    border-color: #f1ab56;
    box-shadow: inset 0 0 0 30px #f1ab56;
}

.dialog-btn {
	border: 0px;
}	

.btn-checkout {
	background: #d2740b;
	color: #fff;
}

.btn-checkout:hover {
	background: #985307
}


</style>	
	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>checkout</h1>
					<div class="bread-crumb white">
						<a class="" href="">Home</a>
						<span>Checkout</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container row checkoutContentWrapper">


		<!-- customer details -->
		<div class="col-md-7 col-sm-7 col-xs-12 customer-details">
			<h2>Customer details</h2>	
			<h4>All asterisked (*) fields are required.</h4>

			<form id="customerDetails">
				<div class="row">
					<div class="form-group col-md-6 col-sm-6 col-xs-12">
						<input type="text" class="form-control"  id="firstName" placeholder="First Name *">
					</div>

					<div class="form-group col-md-6 col-sm-6 col-xs-12">
						<input type="text" class="form-control" id="lastName" placeholder="Last Name *">
					</div>


				</div>	

				<div class="row">
					<div class="form-group col-md-6 col-sm-6 col-xs-12">
						<input type="email" name="email" class="form-control" id="email" placeholder="Email *">
					</div>

					<div class="form-group col-md-6 col-sm-6 col-xs-12">
						<input type="text" class="form-control"  id="phone" placeholder="Phone (e.g. 08023456789) *" value="" maxlength="11">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-12">
						<input type="text" class="form-control" id="address" placeholder="Residential Address *">
					</div>

					<br><br>
					<div class="row">

						<p class="col-4">
						  <label class="toggleSwitch nolabel" onclick="">
						        <input type="checkbox" name="isNotPip" id="isNotPip" value="1"/>
						        <span>
<!-- 						            <span>OFF</span>
						            <span>ON</span> -->
						        </span>
						        <a></a>
						    </label>
						    
						</p>

						<p class="col-8" style="margin-top: -2%"><span>Is someone else picking up?</span></p>		

					</div>
				</div>

				<div class="row">
					<div class="col-12">
					  <div class="form-group">
					    <label for="exampleTextarea">Additional Information (optional)</label>
					    <textarea class="form-control" id="addInfo" rows="12"></textarea>
					  </div>
					</div>
				</div>					

			</form>


		</div>


		<!-- right -->
		<div class="col-md-5 col-sm-5 col-xs-12">
			<h2>Order Summary</h2>

 		
	 		<div>
	 			<% if (products.length > 0) { -%>
	 				<% include components/checkoutItems %>
	 			<% } else { -%>
	 				
	 			<% } -%>
	 			
	 		</div>
	 		
						<div id="pickup-form">
							<form>
<!-- 								<div class="form-group">
									<input type="text" name="store" placeholder="Select Store" onfocus="this.placeholder=''" onblur="this.placeholder='Select Store'" required list="store-list">
									<datalist id="store-list">
										<option>Delta Mall</option>
									</datalist>
								</div> -->
								<div class="delivery-price">
									<h4>Delivery: &#8358;<span>0</span></h4>
									<input type="hidden" value="0" id="pickup-deliveryPrice">
								</div>
								<div class="total-price">
									<h3>Total: &#8358;<span id="totalPrice"><%= (totalPrice) ? totalPrice.toLocaleString()  : 0%></h3>
									
								</div>
								<div class="checkout-btn-wrapper">
									<button type="button" onclick="initPayment()"  class="btn btn-checkout">PLACE ORDER</button>
								</div>
							</form>
						</div>

		</div>
	</div>




 <% include includes/footer %>
 <script src="https://js.paystack.co/v1/inline.js"></script>
 <script type="text/javascript">


  $.busyLoadSetup({
    background: "rgba(237, 143, 32, 0.98)",
    spinner: "circles",
    animation: "slide",
    text : "please wait",
    textPosition:"bottom",
    textMargin: "3rem"
  }); 
 	function togglePay() {

		 var handler = PaystackPop.setup({ 
		        key: '<%=site.paystackPK%>', //put your public key here
		        email: `${$("#email").val().trim()}`, //put your customer's email here
		        amount: <%= (totalPrice) %> * 100, //amount the customer is supposed to pay in kobo
		        metadata: {
		            custom_fields: [
		                {
		                    display_name: `${$("#lastName").val().trim().toUpperCase()} ${$("#firstName").val().trim()}` 
		                }
		            ]
		        },
		        callback: function (response) {
		            //after the transaction have been completed
		            //make post call  to the server with to verify payment 
		            //using transaction reference as post data
		               $.busyLoadFull("show");  
 		
		            $.post("/json/checkout/pay", {reference:response.reference}, function(res){


				          
		                if(res.status == true){

							setTimeout(()=> {
								$.busyLoadFull("hide");
							}, 1800);


							setTimeout(()=> {
								Swal.fire(
								  'Payment received',
								  'Please click to continue',
								  'success'
								).then(()=> {
									setTimeout(()=> {
										window.open('/checkout/success', '_blank').focus();
										window.location.href = '/online-store';
									}, 500);
								})
							}, 1900);         	

		                }
		                else{
							setTimeout(()=> {
								$.busyLoadFull("hide");
								Swal.fire({
								  icon: 'error',
								  title: 'Payment failed',
								  text: 'Something went wrong with your payment.Try again'
								})
							}, 1800);		                	  	
		                }
		            });
         
		        },
		        onClose: function () {
		            //when the user close the payment modal
		            alert('Transaction cancelled');
		            reject('Transaction cancelled'); 
		            
		        }
		    });
		    handler.openIframe(); //open the paystack's payment modal
 		

 	}

 	function submitOrder() {
 		return new Promise((resolve, reject)=>{

			let formData = {
				firstName : $('#firstName').val(),
				lastName : $('#lastName').val(),
				email : $('#email').val(),
				phone : $('#phone').val(),
				isNotPip :  ($('input[name=isNotPip]:checked').val()) ? 1 : 0 ,
				address : $('#address').val(),
				addInfo : $("#addInfo").val()
			}

			console.log(formData);
			//console.log($('#input[name=isNotPip] :checked').val());

	 		$.ajax({
	 			url: '/json/order/submit',
	 			type: 'POST',
	 			data: formData
	 		})
	 		.done((res) =>{
	 			if (res.status == true) {
	 				resolve(res);
	 			} else {
	 				reject(res);
	 			}
	 		}); 
 			
 		});
 	}



 	function initPayment() {
 			
	 	let notyf = new Notyf({
	 		duration:3000,
	 		  position: {
	    		x: 'right',
	    		y: 'bottom',
	  		} 
	  	});

 		submitOrder().then(res => {
 			togglePay();

 		}).catch(res =>{
 			// CHANGE HERE TO res.message
 			console.log(res);
 			notyf.error(res.message);
 		});


 

 	}
 </script>
</body>
</html>