<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

	<style type="text/css">
		.page-breadcrumb {
			    background: url(../images/contact-us.jpg) no-repeat;
			    background-size: 100%;
		}
		.mapWrapper {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	</style>
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Contact</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">Home</a>
						<span>Contact</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->

	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Contact Us</h2>
						<p>Fill all the fields below</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form id="contactForm">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
									<div class="help-block with-errors"></div>
								</div> 
							</div>
<!-- 							<div class="col-md-12">
								<div class="form-group">
									<select class="custom-select d-block form-control" id="guest" required data-error="Please Select Person">
									  <option disabled selected>Please Select Person*</option>
									  <option value="1">1</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									  <option value="4">4</option>
									  <option value="5">5</option>
									</select>
									<div class="help-block with-errors"></div>
								</div> 
							</div> -->
							<div class="col-md-12">
								<div class="form-group"> 
									<textarea class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="submit-button text-center">
									<button class="btn btn-common" id="submit" type="submit">Send Message</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div> 
									<div class="clearfix"></div> 
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<div class="mapWrapper" id="findUs">
		<div class="heading-title text-center">
			<h2>Find Us</h2>
		</div>		
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1985.4867748247339!2d5.782267684170268!3d5.570928516664877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041ad6ac1cdcc69%3A0xbf560665e39eaab5!2sVita%20fruity!5e0!3m2!1sen!2sng!4v1588273946475!5m2!1sen!2sng" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>		
	</div>
	


 <% include includes/footer %>
 <script src="js/jquery.mapify.js"></script>

 <script type="text/javascript">
		$('.map-full').mapify({
			points: [
				{
					lat: 5.559350,
					lng: 5.803060,
					marker: true,
					title: 'Marker title',
					infoWindow: 'VitaFruity Restaurant'
				}
			]
		});	

 </script>
</body>
</html>