<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->
	
	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Vita Fruity</strong></h1>
							<p class="m-b-40">We are positioned to serve freshly made healthy products such as <br> Juices, Smoothies, Parfaits, Salads, Sandwiches, Wraps and other Veggies</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#productList">Order now</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Vita Fruity</strong></h1>
							<p class="m-b-40">We serve freshly made products, 100% natural with no preservatives added, delicious,<br> nutritious and a quality that refreshes your body. </p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#productList">Order now</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="images/slider-03.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Vita Fruity</strong></h1>
							<p class="m-b-40">Our mission is inspiring everyone to continuously <br>refresh their lifestyle through healthy eating.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#productList">Order now</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="images/about-img.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>Vita Fruity</span></h1>
					<!-- 	<h4>Little Story</h4> -->
						<p>
Vita Fruity is a healthy fruit brand with registration number RC2538874. We started working skeletally from home in 2018. We officially launched our outlet on July 28th 2019 in Delta Mall, Effurun. Delta State, Nigeria. We are the first fruit Truck in Delta State and it was born out of passion to encourage everyone to REFRESH THEIR LIFESTYLE through healthy eating.							
						</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#productList">Order now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">
						" If you're not the one cooking, stay out of the way and compliment the chef. "
					</p>
					<span class="lead">Michael Strahan</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->
	
	<!-- Start Menu -->
	<div class="menu-box" id="productList">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Online Store</h2>
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">
<!-- 							<button class="active" data-filter="*">All</button>
							<button data-filter=".drinks">Drinks</button>
							<button data-filter=".lunch">Lunch</button>
							<button data-filter=".dinner">Dinner</button> -->

                            <button class="active" data-filter="*">All</button>
                            <% categories.forEach (category => { -%>
                              <button data-filter=".<%=category.slug %>"><%=category.name %></button>  
                            <% }) -%>
						</div>
					</div>
				</div>
			</div>



		<div class="row" align="center" >
			<div class="col-xs-12 col-md-12  col-lg-7" style="margin: auto;">
		                    <!-- SEARCH FORM -->
		                    <% include components/searchForm%> 
		                    <!-- END SEARCH FORM-->		
			</div>
		</div>			


				


			<div class="row special-list" id="">
					<!-- PRODUCT LIST -->
                     <% include components/productList%>               
			</div>
		</div>
	</div>
	<!-- End Menu -->
	
	<!-- CATEGORY LIST -->
                     <% include components/categoryList%>    


 <% include includes/footer %>
</body>
</html>