<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

	<style type="text/css">
		.page-breadcrumb {
			/*Change crumb background picture here*/
			    background: url(../images/contact-us.jpg) no-repeat;
			    background-size: 100%;
		}
		.mapWrapper {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	</style>	
	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Return policy</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">RETURN POLICY</a>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="container checkout">
			<div>

				<p>All products are freshly made based on orders and without preservatives. They are best consumed almost immediately. We do not accept refunds after orders have been produced. Our commitment is to provide high-quality products to every customer. With our commitment to quality, all cancellations, changes, or postponements must be received before 8:00 AM PST the day before your delivery or pick-up date. We will not offer a refund for cancellations made after this day and time. </p>
				
			</div>
		</div>




 <% include includes/footer %>
</body>
</html>