<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

	<style type="text/css">
		.page-breadcrumb {
			/*Change crumb background picture here*/
			    background: url(../images/contact-us.jpg) no-repeat;
			    background-size: 100%;
		}
		.mapWrapper {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	</style>	

	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Services</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">Home</a>
						<a href="online-store.html">Online Store</a> 
						<span>Spicy Spagetti with Shrimps and Agbo</span>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="container checkout">
			CONTENT HERE
		</div>




 <% include includes/footer %>
</body>
</html>