<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
   <meta name="description" content="Our online store - <%=site.description%>"  />
   <meta name="keywords" content="<%=site.keywords%>"/> 
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->
	
	<!-- <div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>checkout</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">Home</a>
						<a href="online-store.html">Online Store</a> 
						<span>Spicy Spagetti with Shrimps and Agbo</span>
					</div>
				</div>
			</div>
		</div>
	</div>
 -->
	<div class="checkout">
	<!-- Start Menu -->
	<div class="menu-box" id="productList">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Online store</h2>
						<p>Our refreshing catalogue</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">

                            <button class="active" data-filter="*">All</button>
                            <% categories.forEach (category => { -%>
                              <button data-filter=".<%=category.slug %>"><%=category.name %></button>  
                            <% }) -%>

						</div>
					</div>
				</div>
			</div>


			
			<div class="row" align="center" >
				<div class="col-xs-12 col-md-12  col-lg-7" style="margin: auto;">
			                    <!-- SEARCH FORM -->
			                    <% include components/searchForm%> 
			                    <!-- END SEARCH FORM-->		
				</div>
			</div>		


			<div class="row special-list" id="">
				<!-- PRODUCT LIST -->
                     <% include components/productList%>    
                                                    
				
			</div>
		</div>
	</div>
	<!-- End Menu -->
	</div>

	<!-- CATEGORY LIST -->
                     <% include components/categoryList%>    



 <% include includes/footer %>
 <script src="js/productListFunctions.js"></script> 

</body>
</html>