<style type="text/css">
.category-list-item { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;

}	
.category-list-wrapper {
	position: relative;
}

.category-list-item-overlay {
	background: rgba(0,0,0 , 0.6);
	width: 100%;
}

.myimage{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
}
.imgdiv{
    overflow:hidden;
    height:200px;
  
}

</style>

<div class="container-fluid row category-list-wrapper">
 <% categories.forEach(category => { -%>
<!-- 		<div class="col-md-4 category-list-item" data-image-src="/img/categories/<%=category.main_img %>">
			<div class="category-list-item-overlay" align="left">
				
					<h1 style="columns: #fff"><%=category.name %></h1>
			</div>
		</div> -->
   <% })-%>
</div>   

 <div class="row">
            <div class="col-md-4 imgdiv">
              <img class="myimage img-responsive thumbnail"  src="https://images.pexels.com/photos/512861/pexels-photo-512861.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="col-md-4 imgdiv">
              <img  class="myimage img-responsive thumbnail" src="https://images.pexels.com/photos/449460/pexels-photo-449460.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="col-md-4 imgdiv">
              <img  class="myimage img-responsive thumbnail" src="https://images.pexels.com/photos/454880/pexels-photo-454880.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
            </div>
        </div>